extends layout

block content
  head
    title #{title}
  body
    h1 Edit Event
    form(action=`/events/${event._id}/edit`, method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      label(for='eventName') Event Name:
      input(type='text', name='eventName', value=event.name, required)
      br
      label(for='date') Date:
      input(type='date', name='date', value=event.date, required)
      br
      label(for='location') Location:
      input(type='text', name='location', value=event.location, required)
      br
      input(type='submit', value='Update Event')
    a(href=`/events/${event._id}`) Cancel
