extends layout

block content
  head
    title #{title}
    style.
      h1 {
        color: #333;
        margin: 20px;
      }
      h2 {
        color: #4CAF50;
        margin: 10px;
      }
      p {
        color: #555;
        margin: 10px;
      }
  .row
    .col
      h1 Event Details
      h2 #{event.eventName}
      p Date: #{event.date.toLocaleDateString(undefined, {day: 'numeric', month: 'short', year: 'numeric'})}
      p Location: #{event.location}
      if event.status === 'ongoing'
        a.btn.btn-outline-dark(href=`/events/${event._id}/close`, style='margin-right:20px;') Close Event
      else
        .btn.btn-dark.disabled(style='margin-right:20px;') Event is closed
      a.btn.btn-outline-warning(href=`/events/${event._id}/edit`, style='margin-right:20px;') Edit Event
      a.btn.btn-danger(href=`/events/${event._id}/delete`) Delete Event
    .col.text-center
      img(src=`${qrCode}`, alt='QR Code')
      p
        b Scan the QR code to check in to this event.
  h2 Attendees
  if attendance.length > 0
    table.table.teble-striped.table-primary.table-hover.table-bordered.table-sm.table-responsive-sm
      thead.table-dark
        tr
          th Date
          th Student Name
          th Email
      tbody
        each entry in attendance.sort((a, b) => b.timestamp - a.timestamp)
          tr
            td= entry.timestamp.toLocaleDateString(undefined, {day: 'numeric', month: 'short', year: undefined, hour: 'numeric', minute: 'numeric'})
            td= entry.user.profile.name
            td= entry.user.email
  else
    p No attendees yet.
